<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GiicNetUI.Properties.Settings.DataGIICConnectionString"
            connectionString="Data Source=SERVER\SQL2005STD;Initial Catalog=DataGIIC;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="GiicNetUI.Properties.Settings.DataGiicNetConnectionString"
            connectionString="Data Source=SERVER\SQL2008DEV;Initial Catalog=DataGiicNet;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>